<!DOCTYPE html>
<html>
  <head>
    <title>Tw</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--display notification inly when it is exists-->
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice">
          <%= notice %>
        </p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="notice">
        <%= alert %>
      </p>
    </div>
    <% end %>


    <%= yield %>
  </body>
</html>
